body{    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2980b9;
}

.container{
    padding:30px;
    background:#fff;
    float:left;
    width:80%;    
    margin:10%;
    box-sizing: border-box;
}

.accordionElement{    
    display:block;
    width:100%;
    box-sizing: border-box;
    position:relative;
    height: 35px !important;
    background-color: #18394e;
    color: #c6e0e2;
    margin: 2px 0px -5px 0px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.accordionElementContent.closed{
    height:0px;
    transition:height 0.5s ease-out;    
	transform: scaleY(0);
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);    
    
}

.accordionElementContent.opened{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 2px 0px 5px 0px;    
	transform: scaleY(1);    
	transform-origin: top;	
	transition: transform 0.4s ease;
    box-sizing: border-box;
    height:100px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}